@{
    ViewData["Title"] = "Greeter";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This page is where the user can select a greeting using their language.</p>

    <form method="post" id="greeting-form> action='/Hello/Greeter'>
    <label for="name"></label>
    <input type="text" id="name" name="name"/>
    <label for="language-select"></label>
    <select name="language" id="language-select">
        <option value="">--Please choose a language</option>
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="German">German</option>
            <option value="French">French</option>
            <option value="Italian">Italian</option>
    </select>
    <label for="submit"></label>
    <input type="submit" id="submit "value="Greet me!" />
    </form>
</div>